# ─── Token del bot (OBLIGATORIO) ───
DISCORD_TOKEN=pon_aqui_tu_token
DISCORD_PREFIX=!

# ─── Entorno (dev | prod) ───
ENVIRONMENT=dev

# ─── Base de datos ───
DATABASE_URL=sqlite+aiosqlite:///data/poppabot.db

# ─── IDs de Discord ───
OWNER_ID=
GUILD_ID=

# ─── APIs externas (opcional) ───
# WEATHER_API_KEY=
# YOUTUBE_API_KEY=
